<div class="row align-items-center" style="height: 100%;">
  <div class="col-md-8 offset-md-2">
    <p id="check-container">hello</p>
    <%= form_with url: check_points_path do |form| %>
      <div class="form-group">
        <%= form.label :phone_number, class: "text-center", style: "display: block;" %>
        <%= form.text_field :phone_number, name: "customer[phone_number]", class: "form-control" %>
      </div>

        <%= form.submit "Check", class: "btn btn-block" %>
    <% end %>
  </div>
</div>
